%h1 Listing credit_cards

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @credit_cards.each do |credit_card|
      %tr
        %td= link_to 'Show', credit_card
        %td= link_to 'Edit', edit_credit_card_path(credit_card)
        %td= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Credit card', new_credit_card_path
