* {
  box-sizing: border-box;
}

.header {
  height: 126px;
  padding: 20px 80px;
  box-shadow: 0 5px 3px #000000;

  &__top {
    display: flex;
    width: 100%;

    &-form {
      width: 100%;
    }

    form {
      width: 90%;
      display: flex;
      height: 35px;
      margin-left: 40px;
    }

    .search-input-text {
      width: 100%;
      padding: 5px 10px;
    }

    .button-input-text {
      width: 45px;
      background-color: #3CC9CE;
      border: none;

      i {
        font-size: 25px;
        color: #ffffff;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &-left {
      display: flex;
    }

    &-left a {
      text-decoration: none;
      margin: 0 20px;
      color: #333;
    }

    &-right a {
      text-decoration: none;
      margin: 0 20px;
      color: #333;
    }
  }
}

.footer {
  background-color: #272727;
  padding: 40px 100px;

  &__top {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    text-align: center;

    h4 {
      color: #fff;
      font-weight: bold;
      margin-bottom: 30px;
      font-size: 16px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding-bottom: 20px;
      font-size: 14px;
    }
  }

  &__bottom {
    text-align: center;

    p {
      color: #fff;
      font-size: 14px;
    }
  }
}

.categories {
  padding-bottom: 10px;
  &__search {
    padding-bottom: 20px;
  }
  &__child,
  &__parent, 
  &__grandchild {
    display: none;
    z-index: 99;  
  } 
  &__icon,
  .brands__icon {
    color: #3CC9CE;
  }
  &__list { // カテゴリーの大枠の要素の共通項
    position: absolute;
    height: 560px;
    background-color: white;
    border-right: 1px solid whitesmoke;
    padding: 0 20px 0 0;
  }
  &__child--name { // 子要素はカテゴリー名の共通項
    width: 100%;
    color: black;
    display: inline-block;
    padding: 3px 15px;
    font-size: 11px;
    letter-spacing: 2px;
    &:hover {
      background-color: rgba(211, 211, 211, .7);
      width: 100%;
      padding: 0 20px;  
    }  
  }
  &__parent--name:hover {
    background-color: rgba(135, 206, 235, .8);
  }
  &:hover{
    .categories__parent{
      top: 122px;
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 40px;
        font-size: 13px;
        letter-spacing: 2px;
      }
      li {
        &:hover{
          .categories__child{
            width: 100%;
            display: block;
            top: 0;
            left: 240px;
            li {
              &:hover{
                .categories__grandchild{
                  width: 100%;
                  display: block;
                  top: 0;
                  left: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}