* {
  box-sizing: border-box;
}

.header {
  height: 125px;
  padding: 20px 80px;
  box-shadow: 0 5px 3px #000000;
  &__top {
    display: flex;
    width: 100%;
    &-form {
      width: 100%;
    }
    form {
      width: 90%;
      display: flex;
      height: 35px;
      margin-left: 40px;
    }
    .search-input-text {
      width: 100%;
      padding: 5px 10px;
    }
    .button-input-text {
      width: 45px;
      background-color: #3CC9CE;
      border: none;
      i {
        font-size: 25px;
        color: #ffffff;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    &-left a {
      text-decoration: none;
      margin: 0 20px;
      color: #333;
    }
    &-right a {
      text-decoration: none;
      margin: 0 20px;
      color: #333;
    }
  }
}
.footer {
  background-color: #272727;
  padding: 40px 100px;
  &__top {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    text-align: center;
    h4 {
      color: #fff;
      font-weight: bold; 
      margin-bottom: 30px; 
      font-size: 16px;
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      padding-bottom: 20px;
      font-size: 14px;
    }
  }
  &__bottom {
    text-align: center;
    p {
      color: #fff;
      font-size: 14px;
    }
  }
}

