.item-show {
  background-color: #f5f5f5c5;
  padding: 50px 100px;
  &__box {
    background-color: #fff;
    width: 700px;
    margin: 50px auto;
    padding: 20px;
    h2 {
      color: #333333;
      font-size: 24px;
      margin: 30px;
      text-align: center;
      font-weight: bold;
    }
    &__main {
      display: flex;
      justify-content: space-evenly;
      &-img {
        width: 50%;
        text-align: center;
        .item-img {
          height: 300px;
          width: 70%;
          padding: 0 20px;
          text-align: center;
        }  
      }
      &-right {
        tr {
          width: 100%;
        }
        th,td {
          border: 1px solid #F5F5F5;
          padding: 10px;
          color: #333333;
          font-size: 14px;
        }
        th {
          width: 150px;
          background-color: #FAFAFA;
        }
        td {
          width: 150px;
        }
        a {
          text-decoration: none;
          color: #2DA3EA;
        }
      }
      &-right {
        width: 50%;
      }
    }
    &__price {
      text-align: center;
      margin: 20px auto;
      p {
        font-size: 40px;
        font-weight: bold;
        span {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    &__button {
      width: 90%;
      margin: 0 auto;
      .button {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: #3CC9CE;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 24px;
      }
    }
    &__description {
      padding: 30px;
    }
  }
  &__comment__box  {
    background-color: #fff;
    width: 700px;
    margin: 50px auto;
    padding: 20px;
    &-form{
      width: 90%;
      margin: 0 auto;
      .input {
        max-width: 100%;
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        padding: 10px;
        line-height: 1.5;
      }
      .button {
        text-align: center;
        height: 40px;
        width: 100%;
        background-color: #aaa;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
  
}

