.item-show {
  background-color: #f5f5f5c5;
  padding: 50px 100px;

  &__box {
    background-color: #fff;
    width: 700px;
    margin: 50px auto;
    padding: 20px;

    h2 {
      color: #333333;
      font-size: 24px;
      margin: 30px;
      text-align: center;
      font-weight: bold;
    }

    &__main {
      display: flex;
      justify-content: space-evenly;

      .itemImageArea {
        height: 400px;
        width: 50%;

        &-select {
          height: 70%;
          width: 100%;

          .imageSelect {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }

        &-sub {
          margin: 0 auto;
          width: 80%;
          height: 30%;
          text-align: center;
          display: flex;
          flex-wrap: wrap;

          .subImage {
            padding: 5px 0;
            height: 50%;
            width: 20%;

            &__content {
              object-fit: fill;
              height: 100%;
              width: 100%;
              text-align: center;
              opacity: 0.4;
            }
          }

        }
      }

      &-right {

        tr {
          width: 100%;
        }

        th, td {
          border: 1px solid #F5F5F5;
          padding: 10px;
          color: #333333;
          font-size: 14px;
        }

        th {
          width: 150px;
          background-color: #FAFAFA;
        }

        td {
          width: 150px;
        }

        a {
          text-decoration: none;
          color: #2DA3EA;
        }
      }

      &-right {
        width: 50%;
      }
    }

    &__price {
      text-align: center;
      margin: 20px auto;

      p {
        font-size: 40px;
        font-weight: bold;

        span {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }

    &__button {
      width: 90%;
      margin: 0 auto;

      .button {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: #3CC9CE;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 24px;
      }
        height: 60px;
        width: 100%;
        background-color: gray;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 24px;
      }


      .deleteview {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: gray;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
      }
      .letter {
        text-decoration: none;
        color: #fff;
      }

    }

    &__description {
      padding: 30px;
    }
  }

  &__comment__box {
    background-color: #fff;
    width: 700px;
    margin: 50px auto;
    padding: 20px;

    &-form {
      width: 90%;
      margin: 0 auto;

      .input {
        max-width: 100%;
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        padding: 10px;
        line-height: 1.5;
      }
      
      .button {
        text-align: center;
        height: 40px;
        width: 100%;
        background-color: #aaa;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
.confirm {
  background-color: #f5f5f5c5;
  padding: 50px 100px;

  &__box {
    background-color: #fff;
    width: 600px;
    margin: 50px auto;
    padding: 30px 100px;

    h2 {
      color: #333333;
      font-size: 24px;
      margin: 30px;
      text-align: center;
      font-weight: bold;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #F5F5F5;
      padding: 20px 0;
      &-img {
        width: 50%;
        margin: 0 auto;
        text-align: center;
      }
      &__info {
        width: 50%;
        &-name {
          text-align: left;
        }
        &-price {
          text-align: right;
          .tax {
            font-size: 16px;
          }
          .price {
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
    &__confirmPrice {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      border-bottom: 1px solid #F5F5F5;
      &-title {
        font-weight: bold;
        font-size: 18px;
      }
      &-price {
        font-weight: bold;
        font-size: 24px;
      }
    }
    &__confirmPey {
      padding: 30px 0;
      border-bottom: 1px solid #F5F5F5;
      &-title {
        font-size: 16px;
        margin-bottom: 20px;
      }
      .container {
        padding: 24px 0;
        .credit_card-info {
          position: relative;
          max-width: 320px;
          margin: 0 auto;
          &__delete {
            position: absolute;
            top: 0;
            right: 0;
            padding: 4px 6px;
            background-color: #FFFFFF;
            border-radius: 3px;
            border: 1px solid #ea352d;
            color: #ea352d;
          }
        }
      }
      .new-card {
        padding: 10px 0;
        &-btn {
          text-decoration: none;
          margin-bottom: 8px !important;
          color: #0099e8;
          display: block;
          font-size: 16px;
        }
        .fa-credit-card {
          margin-right: 16px;
        }
      }
    }
    &__confirmAddress {
      padding: 30px 0;
      border-bottom: 1px solid #F5F5F5;
      .title {
        font-size: 18px;
      }
      &-inner {
        padding: 15px 0;
        font-size: 14px;
      }
    }
    &__confirmBottom {
      padding: 30px;
      border-bottom: 1px solid #F5F5F5;
      p {
        color: #909090;
        font-size: 14px;
      }
    }
    &__confirmButton {
      padding: 30px 0;
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: #3CC9CE;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        a {
          text-decoration: none;
          color: #fff;
        }

      }
      .button_not {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: gray;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
      }

    }

  }
}



