.MainApp {
  background-color: #f8f8f8;
  &__Theme {
    width: 100%;
    height: 560px;
    background-image: url(http://furima.tokyo/assets/bg-mainVisual-pict_pc-a1a4be0d864c29338b03d163957f9fd26b20f7c1fa0d05c17b603ec54d249ebe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__Content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__SubTitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__Text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__BTN {
        display: flex;
        margin: 24px 0 0 0;
        .apple :hover {
          opacity: 0.5;
        }
        &__Apple {
          width: 180px;
          margin-right: 10px;  
        }
        .google :hover {
          opacity: 0.5;
        }
        &__Google {
          width: 180px;
        }
      }
    }
    &__Pictrue {
      position: absolute;
      top: 0;
      right: 210px;
    }
  }
  &__Reason {
    padding: 60px 20px;
    &__SubTitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__Lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__List {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__Pict {
          position: relative;
          margin-bottom: 20px;
          &__Number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__Text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3CCACE;
          }
        }
        &__Description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  &__Achievement {
    background-image: image_url('bg-topMiddleDl-pict.jpg');
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__Inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__SubTitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__Text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__BTN {
        display: flex;
        .apple :hover {
          opacity: 0.5;
        }
        &__Apple {
          width: 180px;
          margin-right: 10px;  
        }
        .google :hover {
          opacity: 0.5;
        }
        &__Google {
          width: 180px;
        }
      }
    }
  }
  &__Feature {
    padding: 60px 100px;
    background-color: #fff;
    &__Head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__Items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__Item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__Img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;}
        &__SubTitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;}
        &__Detail {    
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;}
      }
    }
  }
  &__Conteiner {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    padding-bottom: 80px;
    &__Head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__PruductBox {
      &__Head {
        text-align: center;
        &__Link {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          &__Title {
            font-weight: bold;
          }
        }
      }
      &__Lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__List {
          width: 220px;
          display: inline-block;
          float: left;
          &__A {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            position: relative;
            &__Img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            &__Body {
              background-color: white;
              color: #333;
              padding: 16px;
              &__Name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__Details {
                font-size: 16px;
                &__Box {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  &__Right {
                    &__Left {
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      content: "\f005";
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  } 
}
.Appbanner {
  background-image: url(http://furima.tokyo/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__Inner {
    color: #fff;
    text-align: center;
    &__Title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__Text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4)
    }
    &__BTN {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      .apple :hover {
        opacity: 0.5;
      }
      &__Apple {
        width: 180px;
        margin-right: 10px;  
      }
      .google :hover {
        opacity: 0.5;
      }
      &__Google {
        width: 180px;
      }
    }
  }
}

.purchase-btn {
  width: 150px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}
.purchase-btn:hover {
  opacity: 0.5 ;
}

.Sold {
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: absolute;
  &__Inner {
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    font-weight: 600;
  }
}