.SignIn{
  // ヘッダーの変更に伴い以下は要変更
  height: 100%;
  padding-top: 100px;
  background-color: #F2F2F2;
  &__content {
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 14px;
    color: rgb(51, 51, 51);
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 24px 0;
    .registration {
      margin: 0 auto;
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
      text-align: center;
    }
    .LoginForm {
      width: 340px;
      margin: 0 auto;
      padding: 0 0 36px 0;
      .field {
        margin: 0 0 20px 0;
        .field_with_errors {
          display: contents;
        }
        .FormLabel {
          display: flex;
          .title {
            font-size: 14px;
            font-weight: 600;
          }
          #user_remember_me {
            border: 1px solid black;
            content: "";
            padding: 10px;
            width: 22px;
            height: 22px;
            margin: 0 10px 0 0;
          }
        }
        .input {
          width: 100%;
          margin: 8px 0 0;
        }
        .input-default {
          text-decoration: none;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          background-color: #ffffff;
          font-size: 16px;
          line-height: 1.5;
        }
      }
      .actions {
        .nextBtn {
          width: 100%;
          padding: 12px 0;
          background-color: #34C0C3;
          font-size: 14px;
          color: #ffffff;
          border-radius: 4px;
          border: none;
        }
        .Login {
          display: inline-block;
          text-decoration: none;
          text-align: center;
          width: 100%;
          padding: 12px 0;
          margin: 12px 0;
          border: 1px solid #cccccc;
          background-color: #cccccc;
          font-size: 14px;
          color: #ffffff;
          border-radius: 4px;
          border: none;
        }
      }
    }
  }
}