.user__my-page {
  background-color: #f5f5f5c5;
  padding: 50px 100px;
  &__box {
    background-color: #fff;
    width: 700px;
    margin: 50px auto;
    padding: 50px;
    h2 {
      color: #333333;
      font-size: 24px;
      margin: 30px;
      text-align: center;
      font-weight: bold;
    }
    h3 {
      color: #333333;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .user__name {
      font-weight: bold;
      font-size: 20px;
    }
    &__button {
      margin: 30px 0;
      .button {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #3EC9CF;
        padding: 5px 15px;
        border-radius: 5px;
      }
    }
  }
}